__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
htmlcov/
.pytest_cache/
.env
venv
.vscode
general.log
*.log
.DS_Store
tempCodeRunnerFile.py
/media/
/static/
.env/
.venv/
.ipynb_checkpoints/
*.nbconvert.ipynb
*.py[cod]
*.tmp
*.bak
*.swp
