[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
pydantic = "*"
uvicorn = "*"
python-dotenv = "*"
openai = "*"
python-multipart = "*"
google-generativeai = "*"

[dev-packages]
pytest = "*"
respx = "*"

[requires]
python_version = "3.14"
